<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>AR Maps Editor</span>
  <span class="fill-toolbar"></span>
  <span>
  <!-- <button mat-raised-button color="primary" routerLink="/settings"> My Account </button> -->
  <div *ngIf="!userLoggedIn()">
    <button mat-raised-button color="primary" (click)="login($event)"> Login </button>
    <button mat-raised-button color="primary" (click)="register($event)"> Register </button>
  </div>  
  <div *ngIf="userLoggedIn()">
    <button mat-raised-button color="primary" routerLink="/settings"> My Account </button>
    <button mat-raised-button color="primary" (click)="logout()"> Logout </button>

  </div> 
  </span>
  </mat-toolbar-row>

  <mat-toolbar-row color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>Menu</span>

    <mat-menu #menu="matMenu">

      <button class="disabled" mat-menu-item routerLink="/">
        <mat-icon >home</mat-icon>
        <span>Home</span>
      </button>
      <div *ngIf="userLoggedIn()">
      <button mat-menu-item routerLink="/create" >
        <mat-icon>add</mat-icon>
        <span>Create New Map</span>
      </button>


      <button mat-menu-item [matMenuTriggerFor]="myMaps"> 
        <mat-icon>directions</mat-icon>
        <span> My Maps </span>
      </button>
      </div>

        <mat-menu #myMaps="matMenu">
          <div *ngIf="maps?.length > 0">
          <div *ngFor="let map of maps">
          <button mat-menu-item [routerLink]="['/edit', map.id]">{{map.title}}</button>
          </div>
          </div>
          <div *ngIf="maps?.length == 0">
          </div>
        </mat-menu>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
