<div *ngIf="markers?.length > 0">
<mat-list dense flex style="overflow: auto; height: 400px; auto; flex-grow: 1; border: 2px solid darkgrey">
    <div *ngFor="let marker of markers let i = index" [attr.data-index]="i" >
    <mat-list-item  [ngClass]="{'active': isActive(i)}" class="mat-2-line" >
             
            <div (mouseover)="highlight(i)" class="mat-list-item-text">
                <p matLine class="label">
                    {{marker.label}}
                </p>
                <p matLine>
                    {{marker.lat}}, {{marker.lng}}
                </p>
            </div>
            <button class="edit-button" mat-icon-button tabindex="-1" (click)="editLabel($event, i)">edit</button>

    </mat-list-item>
    <mat-divider></mat-divider>
    </div>

</mat-list>
</div>
