.label {
    font-weight: bold;
    flex: 1 1 auto;
}

.edit-button {
    float: right;
    flex: 10 10 auto;
}

.highlight {
    background-color: lightgoldenrodyellow;
}

.active {    
    background-color: lightgoldenrodyellow;
}

.poi-list {
    overflow: auto; 
    height: 400px;
    width: 100%;
    flex-grow: 1; 
    border: 2px solid darkgrey;
}

.fill-box {
    flex: 1 1 auto;

}