<div   *ngIf="markers?.length > 0" style="overflow:scroll;">
<h3 style="font-weight: bold;" >Points of Interest </h3>
    <mat-list dense flex class="poi-list">
    <div *ngFor="let marker of markers let i = index" [attr.data-index]="i" >

        <div *ngIf="marker._destroy == '0'">

        <mat-grid-list cols="4" rowHeight="35px" [ngClass]="{'active': isActive(i)}">
            <div (mouseover)="highlight(i)" >
                <mat-grid-tile [colspan]="3" [rowspan]="1" class="label poi-row">
                    {{marker.label}}
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">        
                    <button flex=5 class="edit-button" 
                        mat-icon-button (click)="editLabel($event, i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="1" class="poi-row">
                    
                    {{marker.lat}}
                    <br> {{marker.lng}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">        

                </mat-grid-tile>

            </div>

        </mat-grid-list>
        <div style="height: 3px;"></div>
        <mat-divider></mat-divider>

    </div>

    </div>

</mat-list>
</div>

<div *ngIf="markers?.length == 0">
   <p> No Points of Interest Added.</p>
   <p> Click on the map to add a Point of Interest </p>


<div>
