<toolbar></toolbar>
<mat-card class="example-card" flex>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Maps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="https://loiane.com/images/tags/angular.svg" height="300px">-->
  <mat-card-content>
    </mat-card-content>
      
      <!--<div flex layout="row">
         <mat-card-content style="border-color: darkgray" flex>
            <map></map>
         </mat-card-content>
    </div>-->

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
