<!--<div class="mat-dialog-container">-->
<h2 mat-dialog-title>Edit Label</h2>
    <li>
        <mat-form-field>
            <input matInput [(ngModel)]="label" placeholder="Label name"> 
        </mat-form-field>
    </li>
<mat-dialog-content></mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="label">Save</button>
    <button mat-button [mat-dialog-close]="true">Remove</button>

</mat-dialog-actions>
<!--</div>-->